<header>
    <md-toolbar color="primary" class="md-elevation-z3">
        <img id="logo" src="../assets/images/logo_48.png">
        <span>flashcards.js</span>
        <span class="fill-space"></span>
        <button *ngIf='!user.login' md-button (click)="openLogin()">Login</button>
        <button *ngIf='user.login' md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> {{user.username}}</button>
    </md-toolbar>

    <md-menu #appMenu="mdMenu">
        <button md-menu-item>
            <md-icon>dialpad</md-icon>
            <span>Redial</span>
        </button>
        <button md-menu-item disabled>
            <md-icon>voicemail</md-icon>
            <span>Check voicemail</span>
        </button>
        <button md-menu-item>
            <md-icon>notifications_off</md-icon>
            <span>Disable alerts</span>
        </button>
        <button md-menu-item (click)="logOut()">
            <md-icon>clear</md-icon>
            <span>Log Out</span>
        </button>
    </md-menu>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer class="md-elevation-z3">
    <p>flashcards.js created by Jeff Reeves &copy; 2017</p>
</footer>