<!DOCTYPE html>
<html>
<head>
    <title>flashcards.js</title>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta name='author' content='Jeff Reeves'>
    <meta name='copyright' content='August 2017'>
    <meta name='keywords' content='flashcards.js, Jeffrey Reeves'>

    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'>

    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <header>
        <div id="brand">
            <div id="logo">
            </div>

            <div id="title">
                flashcards<span>.js</span>
            </div>
        </div>

        <div id="controls">
            <div id="menu">
                [MENU]
            </div>
        </div>
    </header>
    <main>
        <div id="decks">
            <select name="deck-select" id="deck-select"></select>
        </div>

        <div id="progress-bar">
            <div id="correct-progress"></div>
            <div id="incorrect-progress"></div>
            <div id="skipped-progress"></div>
        </div>

        <div id="flashcard-container">
            <div id="flashcard">
                <div id="front">
                    <p></p>
                </div>

                <div id="back">
                    <p></p>
                </div>
            </div>
        </div>

        <div id="buttons">
            <img src="images/check_90.png" alt="Correct" id="correct">
            <img src="images/cross_90.png" alt="Incorrect" id="incorrect">
            <img src="images/arrow_alt3_90.png" alt="Skip" id="skip">
        </div>
    </main>
    <footer>
        <p>flashcards.js created by Jeff Reeves &copy; 2017</p>
    </footer>
    
    <!-- jQuery -->
    <script type="text/javascript" src="scripts/jquery-3.2.1.min.js"></script>
    <!-- load flashcards.js -->
    <!-- <script type="text/javascript" src="scripts/flashcards.js"></script> -->
    <!-- <script type="text/javascript" src="procedural.js"></script> -->
    <script type="text/javascript" src="scripts/oojs.js"></script>
</body>
</html>