html {
    min-height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #EFEACF;
}

.fill-space {
    flex: 1 1 auto;
}