/* import Roboto font and Material Design Icons font */
/* @import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import "~material-design-icons/iconfont/material-icons.css"; */

html, body {
    min-height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #EFEACF;
}

.fill-space {
    flex: 1 1 auto;
}

/* Using custom Material theme in theme.scss */
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */