/* main style for flashcards.js
*  using the new CSS grid system
*/

/* FONTS */

@font-face {
    font-family: "Roboto Condensed";
    src: url('fonts/RobotoCondensed-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto-Regular.ttf') format("truetype");
}

/* GENERAL ELEMENTS */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

input, 
textarea, 
select, 
button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
}

select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: #dddddd;
    background-color: #655c4e;
    cursor: default;
    outline:none;
    border-width: 0;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}

select, 
select[size="0"], 
select[size="1"] {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
}

/* GRID */
@supports (display: grid) {

    body {
        min-height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 1fr auto;
        grid-template-areas: 
            "header"
            "main"
            "footer";
        background-color: #EFEACF;
    }

    header {
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "brand controls controls";
        background-color: #7E7260;
        /* background-color: #887C74; */
        box-shadow: 
            0 7px 14px 0 rgba(0, 0, 0, 0.5);        
    }

        #brand {
            grid-area: brand;
            display: grid;
            grid-template-columns: 50px 3fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "logo title";
            /* background-color: goldenrod; */
        }

            #logo {
                grid-area: logo;
                background-image: url('../images/note_48_recolored.png');
                background-repeat: no-repeat;
                /* background-color: white; */
            }

            #title {
                grid-area: title;
                align-self: center;
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 25px;
                /* background-color: pink; */
            }

        #controls {
            grid-area: controls;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "menu menu";
            /* background-color: aquamarine; */
        }

            #menu {
                grid-area: menu;
                align-self: center;
                /* background-color: royalblue; */
            }

    main {
        /* padding: 3rem; */
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr auto 3fr 1fr;
        grid-row-gap: 1rem;
        grid-template-areas:
            ". decks ."
            ". progress-bar ."
            ". flashcard-container ."
            ". buttons .";
    }

        #decks {
            grid-area: decks;
            align-self: center;
            justify-self: center;
            /* background-color: rosybrown; */
        }

            #deck-select {
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
                padding: 4px 2px;
            }

        #progress-bar {
            grid-area: progress-bar;
            width: 100%;
            height: 16px;
            background-color: rgba(136, 124, 116, 0.25);
        }

            #correct-progress {
                float: left;
                display: inline-block;
                width: 0%;
                height: 16px;
                background-color: #41AD49;
            }

            #incorrect-progress {
                float: left;
                display: inline-block;
                width: 0%;
                height: 16px;
                background-color: #E44061;
            }

            #skipped-progress {
                float: left;
                display: inline-block;
                width: 0%;
                height: 16px;
                background-color: #238DB1;
            }

        #flashcard-container {
            height: 100%;
            width: 100%;
            grid-area: flashcard-container;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "flashcard";
        }

            #flashcard {
                grid-area: flashcard;
                box-shadow: 
                    0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
                transition: 0.5s;
                transform-style: preserve-3d;
                cursor: default;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            
            #flashcard.flipped {
                transform: rotateY(180deg);
            }

                #front,
                #back {
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
                    backface-visibility: hidden;
                    display: grid;
                    grid-template-columns: 1fr 2fr 1fr;
                    grid-template-rows: 1fr;
                    grid-template-areas: 
                        ". cardtext .";
                }

                #front p,
                #back p {
                    grid-area: cardtext;
                    align-self: center;
                    justify-self: center;
                    font-family: 'Roboto', sans-serif;
                    font-size: 19px;
                }

                #front {
                    transform: rotateY(0deg);
                    background-color: #F2F2F2;
                }

                #back {
                    transform: rotateY(180deg);
                    position: fixed;
                    top: 0;
                    left: 0;
                    background-color: #DFCFB9;
                }
        
        #buttons {
            grid-area: buttons;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                ". . correct incorrect . skip";
        }

            #correct {
                grid-area: correct;
                width: 64px;
            }

            #incorrect {
                grid-area: incorrect;
                width: 64px;
            }

            #skip {
                grid-area: skip;
                width: 64px;
            }

    footer {
        grid-area: footer;
        /* border-top: 1px solid #7E7260; */
        background-color: #DBC9AF;
        text-align: center;
        box-shadow: 
            0 -7px 14px -7px rgba(0, 0, 0, 0.5); 
    }

        footer p {
            color: rgba(189, 159, 129, 0.8);
        }
}