:host { /* <app-cards> */
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 25px 3fr 1fr;
    grid-row-gap: 0;
    align-items: center;
    grid-template-areas:
        ". decks ."
        ". progress-bar ."
        ". flashcard-container ."
        ". buttons .";
}

    #decks {
        width: 75%;
        grid-area: decks;
        align-self: center;
        justify-self: center;
    }

        #deck-select {
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            padding: 4px 2px;
        }

    #progress-bar {
        grid-area: progress-bar;
        align-self: start;
        width: 100%;
        height: 16px;
        background-color: rgba(136, 124, 116, 0.25);
    }

        #correct-progress {
            float: left;
            display: inline-block;
            width: 0%;
            height: 16px;
            background-color: #41AD49;
            transition: width .1s linear; 
        }

        #incorrect-progress {
            float: left;
            display: inline-block;
            width: 0%;
            height: 16px;
            background-color: #E44061;
            transition: width .1s linear; 
        }

        #skipped-progress {
            float: left;
            display: inline-block;
            width: 0%;
            height: 16px;
            background-color: #238DB1;
            transition: width .1s linear; 
        }

    #flashcard-container {
        height: 100%;
        width: 100%;
        grid-area: flashcard-container;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "flashcard";
    }

        #flashcard {
            grid-area: flashcard;
            box-shadow: 
                0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: 0.5s;
            transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            cursor: default;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        #flashcard.flipped {
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
        }

            #front,
            #back {
                height: 100%;
                width: 100%;
                overflow: hidden;
                backface-visibility: hidden;
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                grid-template-rows: 1fr;
                grid-template-areas: 
                    ". cardtext .";
            }

            #front p,
            #back p {
                grid-area: cardtext;
                align-self: center;
                justify-self: center;
                font-family: 'Roboto', sans-serif;
                font-size: 19px;
            }

            #front {
                transform: rotateY(0deg);
                -webkit-transform: rotateY(0deg);
                -moz-transform: rotateY(0deg);
                -ms-transform: rotateY(0deg);
                -o-transform: rotateY(0deg);
                background-color: #F2F2F2;
            }

            #back {
                transform: rotateY(180deg);
                -webkit-transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                -ms-transform: rotateY(180deg);
                -o-transform: rotateY(180deg);
                position: fixed;
                top: 0;
                left: 0;
                background-color: #DFCFB9;
            }

    #buttons {
        grid-area: buttons;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            ". sub-button-container skip";
    }

        #sub-button-container {
            grid-area: sub-button-container;
            justify-self: center;
            display: grid;
            grid-template-columns: 2fr 1fr 2fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "correct . incorrect";
        }

            #correct {
                grid-area: correct;
                justify-self: center;
                /* width: 64px; */
                background-color: #41AD49;
                color: white;
            }

            #incorrect {
                grid-area: incorrect;
                justify-self: center;
                /* width: 64px; */
                background-color: #E44061;
                color: white;
            }

        #skip {
            grid-area: skip;
            justify-self: end;
            /* width: 64px; */
            background-color: #238DB1;
            color: white;
        }